@charset "UTF-8";
body{
    background: url(https://th.bing.com/th/id/R.1a24310da370abdb42c26076606d1642?rik=kkdHwIw%2bdwJJLA&riu=http%3a%2f%2fgetwallpapers.com%2fwallpaper%2ffull%2fc%2f7%2f7%2f832885-large-muay-thai-wallpaper-2018-1920x1080.jpg&ehk=6M%2bzSqoL8WNTvJFgZ%2fz%2bMI6HljX7BwWPBOLwHHY6G3o%3d&risl=&pid=ImgRaw&r=0);
    background-size: cover;
}
div.interface{
    display: block;
}
iframe{
    float: right;
    width: 800px;
    height: 400px;
}
section.firstSection{
    color: white;
    border: 3px solid rgba(133, 100, 0, 0.589);
    border-radius: 25px;
    margin: auto;
}
aside{
    display: block;
    float: left;
    margin: auto;
}
nav{
    display: block;
}
ul{
    list-style: none;
}
footer{
    display: block;
    font-family: cursive;
    border-top: 1px solid #606060;
    color: blueviolet;
    clear: both;
}
footer p{
    text-align: center;
}