@charset "UTF-8";
body{
    background: url(https://th.bing.com/th/id/R.1a24310da370abdb42c26076606d1642?rik=kkdHwIw%2bdwJJLA&riu=http%3a%2f%2fgetwallpapers.com%2fwallpaper%2ffull%2fc%2f7%2f7%2f832885-large-muay-thai-wallpaper-2018-1920x1080.jpg&ehk=6M%2bzSqoL8WNTvJFgZ%2fz%2bMI6HljX7BwWPBOLwHHY6G3o%3d&risl=&pid=ImgRaw&r=0);
    background-size: cover;
}
div.interface{
    width: 100%;
    margin: auto;
    text-align: center;
    float: left;
}
iframe{
    float: right;
    width: 100%;
    height: 500px;
}
section.firstSection{
    width: 100%;
    color: white;
    border: 3px solid rgba(133, 100, 0, 0.589);
    border-radius: 25px;
    margin: auto;
}
header{
    border: 1px solid rgba(133, 100, 0, 0.589);
    border-radius: 25px;
    border-bottom: 2px solid;
    margin: 40px;
    text-align: center
}
section p{
    color: #d1bfbf;
    border: 1px solid rgba(133, 100, 0, 0.589);
    border-radius: 25px;
    margin: 40px;
}
div.interface aside{
    
}
nav{
    display: block;
}
ul{
    list-style: none;
}
footer{
    display: block;
    font-family: cursive;
    border-top: 1px solid #606060;
    color: blueviolet;
    clear: both;
}
footer p{
    text-align: center;
}