@charset "UTF-8";
body{
    color: white;
}
article{
    display: block;
    width: 800px;
    height: 300px;
}
.miniJanela{
    text-align: justify;
    border-radius: 20px;
    border: 4px solid rgb(168, 0, 0);
    margin-bottom: 800px;
}
.pArticle{
    background-image: radial-gradient(circle at 72.58% 23.09%, #ed41e8 0, #d033ec 12.5%, #ac26ef 25%, #7e1ff1 37.5%, #291ef3 50%, #0023f4 62.5%, #002bf5 75%, #0030f5 87.5%, #0034f5 100%);
    border: 1px solid blue;
    border-radius: 20px;
    margin: auto;
    margin-top: 10px;
}
.flex-container{
    display: flex;
    max-width: 650px;
}
.flex-container p{
    margin-top: 20px;
    font-size: 20px;
}
figure.fotoArt img{
    display: block;
    float: left;
    border: 2px white solid;
    box-sizing: 1px 1px 4px rgb(0, 0, 0);
    max-width: 250px;
    max-height: 250px;
    margin: auto;
}